@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@300&display=swap');

@media (max-width:750px){
  .mobileFloaterRem{
    display:none
  }
  .mobileFloater{
    position: fixed;
    bottom:0;
    right:0;
    margin: 1em;
  }
}
.fit-content{
  width:fit-content;
  margin:auto
}
.rounded-large{
  margin-left:auto;
  margin-right:auto
}
.fitcont{
  width:fit-content
}
.fitcontsm{
  width:fit-content
}
@media(max-width:820px){
  .fitcontsm{
    width:fit-content;
    margin: auto;
  }
}
.ings{
  height:fit-content;
}
@media(max-width:826px){
  .ings{
    width:85%
  }
}

@media(min-width:826px){
  .ings{
    max-height:82dvh
  }
}

@media(min-height:560px){
  .ings{
    max-height:470px !important
  }
}

@media (min-width:750px){
  .mobileFloater{
    display:none
  }
  .mobileFloaterRem{
    display:block
  }
}

.brand{
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}

.cl-internal-b3fm6y{
  display:none;
}
.brandImg{
  margin-right: 1em !important;
  margin-bottom: 0.2em !important;
}

body{
  background-color: rgb(241 245 249);
  min-height: 100vh;
}

.loader {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;

}
.loader::before {
content: '';
position: absolute;
left: calc( 100% - 2px);
top: 0;
z-index: -2;
height: 10px;
width: 70px;
border-radius: 0 4px 4px 0;
background-repeat: no-repeat;
background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
background-size: 50px 10px , 4px 8px , 24px 4px;
background-position: right center , 17px center , 0px center;
}
.loader::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50% , -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image:
  radial-gradient(circle 3px , #fff6 90%, transparent 10%),
  radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
  radial-gradient(circle 12px , #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px , -2px -2px , -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {
0% ,  100%{  transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg); opacity: 0; }
10% , 90% {  transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg); opacity: 1; }
25%  {transform:  translate(-50% , -40px) rotate3d(85, 17, 2, 70deg) }
75% {transform:  translate(-50% , -40px) rotate3d(75, -3, 2, 70deg) }
50% {transform:  translate(-55% , -50px) rotate3d(75, -8, 3, 50deg) }
}
@keyframes panex {
0%{  transform: rotate(-5deg)  }
100%{  transform: rotate(10deg)  }
}
.show{
  width: 100%;
    min-height: 400px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader2 {
  font-size: 48px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  position: relative;
}
.loader2::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: green;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 10s ease-in infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width:0%
  }
}


.loader3 {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid rgb(29, 137, 29);
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader3 2s linear infinite;
}
.loader3::after {
  content: '';  
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: rgb(29, 137, 29);
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader3 {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
  

.image-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 20px;
  transition: top 0.3s ease;
  z-index:5
}

.image-container:hover .image-overlay {
  top: 0;
  z-index:500
}

.image {
  display: block;
  width: 100%;
  height: auto;
}